
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../asset/css/style.css">
</head>
<body>
    <header id="container">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">Osumare</a>
                </div>
            </div>
        </nav>
    </header>


    <!-- n=main -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between" ></div>
<a href="/add-user" class="border-shadow">
    <span class="text-gradient">new user</span>
</a>
        </div>/



        <!--  -->
        <form action="/" method="POST">
            <table class="table">
           <thead class="thead-dark">
            <tr>
                <th>id</th>
                <th>id</th>
                <th>id</th>
                <th>id</th>
                <th>id</th>
            </tr>
           </thead>


           <tbody>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>
                    <a href="#" class="btn border-shadow update"></a>
                    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>

                    <a href="#" class="btn border-shadow update"></a>
                    <span class="text-gradient"><i class="fas fa-times-alt"></i></span>
                </td>
            </tr>
           </tbody>
            </table>
        </form>
    </main>
</body>
</html>